.nav-bar {
  background-color: var(--color-purple);
}

.content {
  min-height: calc(100vh - var(--height-nav-bar) - var(--height-footer));
  background-image: linear-gradient(to bottom right, #fff, #1db954, #191414);
}

.footer {
  background-color: var(--color-dark-gray);
  padding: var(--padding);
}
