.wrapper {
  max-width: 1224px;
  padding: 30px 20px;
  margin: 0 auto;
  font: 16px/14px 'Nunito', sans-serif;
  background-image: none;
}

.result {
  border: 2px solid #000;
  background-color: #012200;
  padding: 2px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #000;
  padding: 2px;
  margin: 0.5%;
  background-color: #004a00;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #07e100;
}
